@import "./header";
@import "./footer";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$font-family-base: "Urbanist", sans-serif;
$font-size-base:16px;
$text-color:rgb(255, 255, 255);
$background-color:rgb(24, 49, 46);


body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color;
  background-color: $background-color;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}